<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Jun 2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Colorado Boulder</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Learning embeddings for ontology elements with neural networks (for <a target="_blank" rel="noopener noreferrer"
        href="https://www.colorado.edu/faculty/palmer-martha/">Dr. Martha Palmer</a>).</p>
                    </div><!--//details
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting Student</h3>
                            <div class="time">Sep 2016 - Jan 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Higher School of Economics (Moscow, Russia)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>I wanted to learn Russian and learn more about Russian culture.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Sep 2015 - Dec 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Meertens Instituut (Amsterdam, The Netherlands)</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>The Meertens Institute is a research institute for Dutch language and
                          culture within the Royal Netherlands Academy of Arts and Sciences (KNAW).
                          The “Language & Number” project studied numbers cross-linguistically and
                          aimed to develop a typological database of numeral constructions.
                          My research involved building a pipeline for automatic extraction of these
                          constructions, using techniques from computational linguistics/NLP.</p>
                        <p> Part of this research was presented (together with <a target="_blank" rel="noopener noreferrer"
                          href="http://bylinina.com/">Lisa Bylinina</a>) at the Dialogue Conference in Moscow
                          (1-4  June,  2016):  <i>“Building  an  automated  pipeline  for  typological
                          research:  a  case  study.”</i></p>
                    </div><!--//details
                </div><!--//item-->

            </section><!--//section-->
