<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Academic experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Assistant</h3>
                            <div class="time">Jan 2019 - May 2019</div>
                        </div>
                        <div class="company">University of Colorado Boulder</div>
                    </div>
                    <div class="details">
                        <p>Developing <a target="_blank" rel="noopener noreferrer" href="https://digitalfrontrange.wordpress.com/master-readme-for-the-nlp4dh-tool/">NLP4DH</a>: an application that allows academics interested in Digital Humanities to processs corpora of text data with modern NLP methods. With <a target="_blank" rel="noopener noreferrer"
        href="https://www.colorado.edu/faculty/hulden-vilja/">Vilja Hulden</a>.</p>
                    </div>
                </div>
                </br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Jun 2018 - Dec 2018</div>
                        </div>
                        <div class="company">University of Colorado Boulder</div>
                    </div>
                    <div class="details">
                        <p>Learning embeddings for ontology elements with neural networks for <a target="_blank" rel="noopener noreferrer"
        href="https://www.colorado.edu/faculty/palmer-martha/">Martha Palmer</a>.</p>
                    </div>
                </div>
                </br>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Visiting Student</h3>
                            <div class="time">Sep 2016 - Jan 2017</div>
                        </div>
                        <div class="company">Higher School of Economics <b>&#183;</b> Moscow, Russia</div>
                    </div>
                </div>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Intern</h3>
                            <div class="time">Sep 2015 - Dec 2015</div>
                        </div>
                        <div class="company">Meertens Instituut <b>&#183;</b> Amsterdam, The Netherlands</div>
                    </div>
                    <div class="details">
                      <p> Working on automatic extractions of numeral constructions for a typological database
                         in the “Language & Number” project. Supervised by  <a target="_blank" rel="noopener noreferrer"
                          href="http://bylinina.com/">Lisa Bylinina</a>.</p>
                        <!-- <p>The Meertens Institute is a research institute for Dutch language and
                          culture within the Royal Netherlands Academy of Arts and Sciences (KNAW).
                          The “Language & Number” project studied numbers cross-linguistically and
                          aimed to develop a typological database of numeral constructions.
                          My research involved building a pipeline for automatic extraction of these
                          constructions, using techniques from computational linguistics/NLP.</p>
                        <p> Part of this research was presented (together with <a target="_blank" rel="noopener noreferrer"
                          href="http://bylinina.com/">Lisa Bylinina</a>) at the Dialogue Conference in Moscow
                          (1-4  June,  2016):  <i>“Building  an  automated  pipeline  for  typological
                          research:  a  case  study.”</i></p> -->
                    </div>
                </div>

            </section>
