<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About me</h2>
<div class="summary">

    <p>I am a Software Developer and Computational Linguist based in London. I recently graduated
      with an MA in (Computational) Linguistics.</p>
    <!-- <p>I am a third year PhD student in the <a target="_blank" rel="noopener noreferrer"
      href="https://www.colorado.edu/linguistics/">Department of Linguistics</a> and the <a target="_blank" rel="noopener noreferrer"
        href="https://www.colorado.edu/ics/">Institute of Cognitive Science</a>
      at the University of Colorado Boulder, working with <a target="_blank" rel="noopener noreferrer"
        href="http://verbs.colorado.edu/~mahu0110/">Mans Hulden</a>.</p> -->

    <!-- <p>My research aims to answer questions about linguistic structure with computational methods.
      Those questions often come from the domains of morphology and typology. In my first qualifying paper
      I worked on modeling typological features with machine learning methods. I am also interested in
      computational semantics, especially distributional semantics.</p> -->

    <!-- You can <a href="#" target="_blank">download this free resume/CV template here</a>.  -->
</div>
</section>
