<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">MA in Linguistics (Computational Linguistics)</h3>
                <div class="time">2017 - 2019</div>
            </div>
            <div class="company">University of Colorado Boulder <b>&#183;</b> USA</div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Seminar on Deep Learning for NLP</h3>
                <div class="time">January 2019 (3 weeks)</div>
            </div>
            <div class="company">University of the Basque Country <b>&#183;</b> Spain</div>
            <!-- <div> Participation in the <a href="http://ixa2.si.ehu.es/deep_learning_seminar/index-jan2019.html">3rd edition of the Deep Learning for NLP</a> seminar
              from January 22nd 2019 to February 7th 2019 at the University of Basque Country.</div> -->
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BA in Linguistics</h3>
                <div class="time">2013 - 2016</div>
            </div>
            <div class="company">University of Amsterdam <b>&#183;</b> The Netherlands</div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BSc in Beta-Gamma (Interdisciplinary Studies)</h3>
                <div class="time">2011 - 2016</div>
            </div>
            <div class="company">University of Amsterdam <b>&#183;</b> The Netherlands</div>
        </div>
    </div>

</section>
