<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BA in Linguistics</h3>
                            <div class="time">2013 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Amsterdam (The Netherlands)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>For my senior thesis I researched numerals in Dutch and their strange exceptions.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">BA in Beta-Gamma (Interdisciplinary Studies)</h3>
                            <div class="time">2011 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Amsterdam (The Netherlands)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>Numerals research project</p>
                    </div><!--//details-->
                </div><!--//item-->


            </section><!--//section-->
