<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Languages &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Dutch</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%">
                                Native
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">English</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="95%">
                                Proficient (C2)
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Spanish</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="92%">
                                Proficient (C1-C2)
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Russian</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                                Pre-intermediate (A2-B1)
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">French</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="15%">
                                Beginner (A2)
                            </div>
                        </div><!--//level-bar-->
                    </div><!--//item-->

                </div>
            </section><!--//skills-section-->
