<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-archive"></i>Papers and Presentations</h2>

    <div class="item">
        <span class="project-tagline"><u>Annebeth Buis</u> and Mans Hulden. <i>Typological Feature Prediction with Matrix Completion.</i></span></br>
        <span>at the <a href="https://typology-and-nlp.github.io/2019/">First Workshop for Typology in NLP</a>, co-located with ACL 2019.</span>
        <span class="project-title"><a href="https://typology-and-nlp.github.io/2019/assets/2019/posters/8_Typological_Feature_Prediction_with_Matrix_Completion.pdf">[Poster]</a></span>
    </div>
    <div class="item">
        <span class="project-tagline">Aikaterini-Lida Kalouli, <u>Annebeth Buis</u>, Livy Real, Martha Palmer, Valeria de Paiva. 2019. <i>Explaining Simple Natural Language Inference.</i></span>
        <span>Proceedings of the 13th Linguistic Annotation Workshop (LAW 2019), co-located with ACL 2019.</span>
        <span class="project-title"><a href="https://www.aclweb.org/anthology/W19-4016/">[Paper]</a></span>
    </div>
</section>
