<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-book"></i>Teaching experience</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Graduate Teaching Assistant</h3>
                <div class="time">Sep 2017 - Dec 2019</div>
            </div>
            <div class="company">University of Colorado Boulder</div>
        </div>
        <div class="details">
            <ul>
              <li>LING 1020: Languages of the World [Fall 2018, Fall 2019]</li>
              <li>LING/CLAS 1010: The Study of Words [Spring 2018]</li>
              <li>LING 1000: Language in US Society [Fall 2017]</li>
            </ul>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Grader</h3>
                <div class="time">Sep 2018 - Dec 2018</div>
            </div>
            <div class="company">University of Colorado Boulder</div>
        </div>
        <div class="details">
            Grading for the Computer Science/Linguistics graduate seminar on
            <a target="_blank" rel="noopener noreferrer"
href="http://verbs.colorado.edu/~mpalmer/Ling7800/index.html">Computational Lexical Semantics</a>.
        </div>

    </div>
</section>
