<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-book"></i>Teaching experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Teaching Assistant</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Colorado Boulder</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>
                          <li>LING 1020: Languages of the World [Fall 2018]</li>
                          <li>LING/CLAS 1010: The Study of Words [Spring 2018]</li>
                          <li>LING 1000: Language in US Society [Fall 2017]</li>
                        </ul>
                    </div><!--//details
                </div><!--//item-->
            </section><!--//section-->
