<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Industry experience</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Linguist Intern</h3>
                <div class="time">Summer 2019</div>
            </div>
            <div class="company">Google <b>&#183;</b> Los Angeles, USA</div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Linguist</h3>
                <div class="time">2017</div>
            </div>
            <div class="company">Lionbridge <b>&#183;</b> Contract</div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Web Mining Assistant</h3>
                <div class="time">2015 - 2017</div>
            </div>
            <div class="company">Textkernel <b>&#183;</b> Amsterdam, The Netherlands</div>
        </div>
    </div>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Junior Ruby on Rails Developer</h3>
                <div class="time">2013 - 2015</div>
            </div>
            <div class="company">Space Babies <b>&#183;</b> Amsterdam, The Netherlands</div>
        </div>
    </div>

</section>
