<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Industry experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Linguist</h3>
                            <div class="time">2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Lionbridge (Contract)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>I wanted to learn Russian and learn more about Russian culture.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Mining Assistant</h3>
                            <div class="time">2015 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Textkernel (Amsterdam, The Netherlands)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>For my senior thesis I researched numerals in Dutch and their strange exceptions.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Ruby on Rails Developer</h3>
                            <div class="time">2013 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Space Babies (Amsterdam, The Netherlands)</div>
                    </div><!--//meta-->
                    <!-- <div class="details">
                        <p>Numerals research project</p>
                    </div>
                    <!--//details-->
                </div><!--//item-->


            </section><!--//section-->
